@use './partials/breakpoints' as *;
@use './partials/textstyles' as *;
@use './partials/typeface' as *;
@use './partials/color' as *;

// general styling
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  min-height: 100vh;
  background-color: #dbe3e5;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23306a96' fill-opacity='0.18'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: 'Raleway SemiBold';
  font-size: $h1_text_size_m;
  line-height: $h1_line_height_m;
  @include tablet {
      font-size: $h1_text_size_dt;
      line-height: $h1_line_height_dt;
  }
}
h2 {
  font-family: 'Raleway Regular';
  font-size: $h2_text_size_m;
  line-height: $h2_line_height_m;
  @include tablet {
    font-size: $h2_text_size_dt;
    line-height: $h2_line_height_dt;
  } 
}
h3 {
  font-family: 'Raleway Medium';
  font-size: $h3_text_size_m;
  line-height: $h3_line_height_m;
  @include tablet {
    font-size: $h3_text_size_dt;
    line-height: $h3_line_height_dt;
  }
}
h4 {
  font-family: 'Raleway Regular';
  font-size: $h4_text_size_m;
  line-height: $h4_line_height_m;
  @include tablet {
      font-size: $h4_text_size_dt;
      line-height: $h4_line_height_dt;
  }
}
h5 {
  font-family: 'Raleway Medium Italic';
  font-size: $h5_text_size_m;
  line-height: $h5_line_height_m;
  @include desktop {
      font-size: $h5_text_size_dt;
      line-height: $h5_line_height_dt;
  }
}
h6 {
  font-family: 'Raleway Bold';
  font-size: $h6_text_size_m;
  line-height: $h6_line_height_m;
  @include tablet {
      font-size: $h6_text_size_dt;
      line-height: $h6_line_height_dt;
  }
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
button {
  font-family: 'Raleway Bold';
  font-size: $h5_text_size_m;
  line-height: $h5_line_height_m;
  padding:  1rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem 0rem rgba(121, 121, 121, 0.66);
  cursor: pointer;
  color: $white;
  background-color: $rhythmic_blue;

  @include tablet {
      font-size: $h5_text_size_m;
      line-height: $h5_line_height_dt;
  }
  @include desktop {
      padding: 1rem 1.5rem;
  }
}
button:hover {
  color: $purple_navy;
  background-color: $white;
}
button:active {
  transform: translate(0, 0.4rem);
  box-shadow: 0 0.4rem 0.4rem 0rem rgba(255, 255, 255, 0.5);
}