@use '../../partials/breakpoints' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;
@use '../../partials/color' as *;

.quoteButtons {
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}