$white: #FFFFFF;
$bright_gray:#e7e7ec;
$neutral_grey: #d6ddde;
$light_gray:#cfcfd9;
$gray:#b8b8c7;
$metallic_silver:#a0a0b4;
$roman_silver:#8989a2;
$rhythmic_blue:#71718f;
$purple_navy:#59597c;
$american_blue:#42426a;
$space_blue:#2a2a57;
$midnight_blue:#131345;