// Mobile - _m
// ! Page Header - H1
$h1_text_size_m: 28px;
$h1_line_height_m: 32px;

// ! Section Header - H2
$h2_text_size_m: 24px;
$h2_line_height_m: 32px;

// ! Subheader - H3
$h3_text_size_m: 16px;
$h3_line_height_m: 22px;

// ! Body - H4
$h4_text_size_m: 13px;
$h4_line_height_m: 18px;

// ! Footer - H5
$h5_text_size_m: 13px;
$h5_line_height_m: 18px;

// ! Labels & buttons - H6
$h6_text_size_m: 11px;
$h6_line_height_m: 20px;

// Desktop and Tablet - _dt
// ! Page Header - H1
$h1_text_size_dt: 50px;
$h1_line_height_dt: 58px;

// ! Section Header - H2
$h2_text_size_dt: 36px;
$h2_line_height_dt: 44px;

// ! Subheader - H3
$h3_text_size_dt: 24px;
$h3_line_height_dt: 32px;

// ! Body - H4
$h4_text_size_dt: 18px;
$h4_line_height_dt: 24px;

// ! Footer - H5
$h5_text_size_dt: 18px;
$h5_line_height_dt: 22px;

// ! Labels & buttons - H6
$h6_text_size_dt: 12px;
$h6_line_height_dt: 20px;