// raleway straight
@font-face {
    font-family: 'Raleway Regular';
    src: url('../assets/fonts/raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../assets/fonts/raleway/static/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: url('../assets/fonts/raleway/static/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../assets/fonts/raleway/static/Raleway-Bold.ttf') format('truetype');
}


// raleway italic
@font-face {
    font-family: 'Raleway Regular Italic';
    src: url('../assets/fonts/raleway/static/Raleway-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium Italic';
    src: url('../assets/fonts/raleway/static/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway SemiBold Italic';
    src: url('../assets/fonts/raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold Italic';
    src: url('../assets/fonts/raleway/static/Raleway-BoldItalic.ttf') format('truetype');
}